    <!-- Main content -->
<section class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Add product</li>
      </ol>
    </section>

    <!-- Small boxes (Stat box) -->
      <div class="row">
        
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Quick Example</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" (ngSubmit)="onSubmit(formDirective)" [formGroup]="productForm" #formDirective="ngForm">
              <div class="box-body">

                <div class="form-group">
                  <label for="product">Product Name</label>
                  <input type="text" formControlName="product" class="form-control" id="product" placeholder="Enter product" [ngClass]="{ 'is-invalid': submitted && f.product.errors }" >
                  <div *ngIf="submitted && f.product.errors" class="invalid-feedback">
                    <div *ngIf="f.product.errors.required">Product Name is required</div>
                </div>
                </div>

                <div class="form-group">
                  <label for="category">Category Name</label>
                  <select id="country" formControlName="category">
        			      <option [ngValue]="null">Select Category</option>
        			      <option *ngFor="let c of categories" [ngValue]="c.id">{{ c.category }}</option>
    			       </select>
                  <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                    <div *ngIf="f.category.errors.required">Category Name is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="descr">Product Description</label>
                  <input type="text" formControlName="descr" class="form-control" id="descr" placeholder="Enter description" [ngClass]="{ 'is-invalid': submitted && f.descr.errors }" >
                  <div *ngIf="submitted && f.descr.errors" class="invalid-feedback">
                    <div *ngIf="f.descr.errors.required">Product Desc. is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="price">Product Price</label>
                  <input type="text" formControlName="price" class="form-control" id="price" placeholder="Enter price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" >
                  <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required">Product price. is required</div>
                </div>
                </div>

                <div class="form-group">
                  <label for="discount">Product Discount</label>
                  <input type="text" formControlName="discount" class="form-control" id="discount" placeholder="Enter discount" >
                  <!-- <div *ngIf="submitted && f.discount.errors" class="invalid-feedback">
                    <div *ngIf="f.discount.errors.required">Product discount. is required</div>
                  </div> -->
                </div>

                <div class="form-group">
                  <label for="image">File input</label>
                  <input type="file" formControlName="image" id="image" (change)="getFiles($event.target.files)" [ngClass]="{'is-invalid': submitted && f.image.errors}" >
                  <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                    <div *ngIf="f.image.errors.required"> Image is required</div>
                    </div>
                </div>
              
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button [disabled]="loading" class="btn btn-primary">Submit</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
            </form>
          </div>
          <!-- /.box -->

        </div>
    </div>
    <!-- /.row (main row) -->

</section>
<!-- /.content -->